<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>JSF - PrimeFaces with JAAS Authentication in Tomcat Example Project</display-name>
  <listener>
    <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
  </listener>
  <context-param>
    <description>Defines which packages to scan for beans, separated by commas. Necessary for when using tomcat7:run.</description>
    <param-name>org.apache.myfaces.annotation.SCAN_PACKAGES</param-name>
    <param-value>com.iqmsoft.jaas.jsf</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
    <param-value>0</param-value>
  </context-param>
  <context-param>
    <description>
            Set the project stage to &quot;Development&quot;, &quot;UnitTest&quot;, &quot;SystemTest&quot;, or &quot;Production&quot;.
            An optional parameter that makes troubleshooting errors much easier.
            You should remove this context parameter before deploying to production!
        </description>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
    <param-value>/WEB-INF/primefaces-cms.taglib.xml</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>cms</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>pages/index.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>facesServlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>facesServlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>ttf</extension>
    <mime-type>application/font-sfnt</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/font-woff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff2</extension>
    <mime-type>application/font-woff2</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>eot</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>eot?#iefix</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg#exosemibold</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg#exobolditalic</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg#exomedium</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg#exoregular</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg#fontawesomeregular</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Views only available when logged in as ADMIN</web-resource-name>
      <url-pattern>/pages/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Views only available when logged in as USER</web-resource-name>
      <url-pattern>/pages/user/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/pages/authentication/login.xhtml</form-login-page>
      <form-error-page>/pages/authentication/login.xhtml</form-error-page>
    </form-login-config>
  </login-config>
  <error-page>
    <error-code>401</error-code>
    <location>/WEB-INF/error-pages/forbidden.xhtml</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/error-pages/forbidden.xhtml</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error-pages/notFound.xhtml</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error-pages/exception.xhtml</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/WEB-INF/error-pages/exception.xhtml</location>
  </error-page>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>user</role-name>
  </security-role>
</web-app>